.flex {
  display: flex;
}

.side {
  width: 200px;
  height: 100vh;
 /* background-color: rgb(61, 57, 57); */
}

.link {
  list-style: none;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

a {
  text-decoration: none;
 /* color: white; */
}

.sidenav {
  background-color: rgba(31, 30, 31, 0.87);
  height: 60px;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}

.menubar {
  margin-left: 2rem;
  font-size: 2rem;
  background: none;
  color: #fff;
}

.nav-menu {
  background-color: rgb(65, 62, 62);
  width: 150px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: -100%;
  transition: 850ms;
}

.active {
  left: 0;
  transition: 350ms;
}

.nav-menu a {
  color: #fff;
}

.text {
  width: 100%;
  height: 30px;
  display: flex;
  align-items: center;
  padding: 5px;
}

.text:hover {
  background-color: rgb(9, 71, 255);
  border-radius: 10px;
}

.home, .about, .contact {
  width: 100%;
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 50px;
  font-weight: 600;
  color: rgb(9, 71, 255);
}

p {
  border: 3px solid rgb(9, 71, 255);
  width: 500px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}